.anchor{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.one{
  margin-left: 15px;
  font-weight: bold;
  font-family: Arial;
  font-size: 25px;
  margin-top: 15px;
}

.div-one{
  display: flex;
  flex-direction: column;
}

.div-one-one{
  font-weight: bold;
  font-size: 25px;
  font-family: Arial;
  margin-bottom: 15px;
  margin-top: 20px;
}

.div-one-two{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 300px;
  font-family: Arial;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
 }

 .input{
  background-color: white;
  padding: 20px 45px 20px 15px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 8px;
}

.button-one{
  background-color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
  border: none;
  margin-top: 15px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.div-one-four:hover{
  cursor: pointer;
}

.button-one:hover{
  cursor: pointer;
}

.div-three{
  margin-top: 300px;
  color: blue;
  font-family: Arial;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;

}
.anchor-two{
  color: blue;
  font-family: Arial;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 