.anchor{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.one{
  margin-left: 15px;
  font-weight: bold;
  font-family: Arial;
  font-size: 25px;
  margin-top: 15px;
}

.div-one-one{
  font-weight: bold;
  font-size: 25px;
  font-family: Arial;
  margin-bottom: 15px;
  margin-top: 20px;
}

@media (max-width: 100px) {
.div-one{
  display: flex;
  flex-direction: column;
}
}

@media (min-width: 1000px) {
  .div-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  }

.div-one-two{
  font-size: 16px;
  font-family: Arial;
  margin-bottom: 20px;
  color: gray;
}


.button-one{
  background-color: white;
  padding: 20px 50px 20px 15px;
  border-radius: 10px;
  border: 1px solid gray;
}

.button-one:hover{
  background-color: white;
  padding: 10px 50px 40px 15px;
  border-radius: 10px;
  border: 1px solid gray;
}


.button-two{
  background-color: white;
  padding: 20px 50px 20px 15px;
  border-radius: 10px;
  border: 1px solid gray;
}

.button-two:hover{
  background-color: white;
  padding: 10px 50px 40px 15px;
  border-radius: 10px;
  border: 1px solid gray;
}


.div-one{
  display: flex;
  flex-direction: column;
}


.button-three{
  background-color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
  border: none;
  margin-top: 15px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.div-one-four:hover{
  cursor: pointer;
}

.button-three:hover{
 cursor: pointer;
}

.div-three{
  color: blue;
  font-family: Arial;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}
.anchor-two{
  color: blue;
  font-family: Arial;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}